<html>
<head>
<title>Danger Assessment</title>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script src="../static/js/danger_assessment.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
</head>
<body>
<h2 >Danger Assessment</h2>
<!-- Navigation -->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">

  <!-- Navbar links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="homepage">Homepage</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="awareness">Awareness</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="help">Help Services</a>
    </li>
  </ul>
</nav>

    <div class="container" style="max-width: 60%; padding-top: 20px">
        <!-- Content here -->
        <div id="quiz">

            <ol id="quizContent">

            </ol>

            <p><b>Your Risk Score is:</b> <span id="result" style="font:bold, color=red"></span></p>
            <input class="btn btn-primary" type="submit" value="Submit">

        </div>
    </div>
    <hr class="featurette-divider">


    <!--- Footer -->
    <footer class="container">
        <p>&copy; 2017-2019 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>







</body>
</html>